@import '../../styles.scss';

.landing {
    background: url('../../assets/Group\ 44.png') no-repeat;
    height: calc(100vh - 5rem);
    h1 {
        font-size: 4.5rem;
        padding: 16.5rem 12rem;
        margin: 0;
        padding-bottom: 2.75rem;
    }
}

.container {
    padding: 8.75rem 8.75rem;
    text-align: center;

    h1 {
        margin: 0;
    }
    p span.location {
        color: $avaana;
    }

    .slider {
        margin-top: 2.625rem;
    }

    button {
        @include btn;
        margin-top: 6rem;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
}