<header>
    <nav>
        <div class="center">
            <img src="./../../../assets/avaana.svg" alt="Avaana Logo" role="presentation">
            <ul>
                <li>
                    <a href="" >Health and Wellbeing Appointments</a>
                </li>
                <li>
                    <a href="">Fitness Classes</a>
                </li>
            </ul>
            <span class="icons">
                <ng-icon name="featherSearch"></ng-icon>
                <ng-icon name="featherUser"></ng-icon>
            </span>
            <button>List with us</button>
        </div>
    </nav>
</header>